.particle {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate3d();
  border-radius: 50%;
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-color: #C8CBD9;
}
